@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 1rem;
    max-width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.qr-code {
    margin-bottom: 1.5rem;
}

.qr-code img {
    width: 100%;
    border-radius: 10px;
}

.content h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.content p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
}